*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: white;
}


#container {
  margin: auto;
  max-width: 1280px;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 600px;
  padding: 40px;
  background-color: #631f16;
  color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

header h1{
  margin-right: auto;
  color: #dcd6d2;
}

nav {
  margin-right: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
}

nav ul li{
  margin: 0.5rem;
}

nav a{
  color: #dcd6d2;
}

#wrapper {
margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

section {
  padding: 40px;
  height: 500px;
  background-color: #dcd6d2;
  margin-bottom: 40px;
}

section h1{
  margin-bottom: 1rem;
}

footer{
  padding: 40px;
  background-color: #631f16;
  color: #d3c6a6;
}
